#modalBackground {
  position: fixed;
  width: 100%;
  height: 100svh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#cardModal {
  background-color: #fff;
  border-radius: 25px;
  max-width: 50rem;

  animation: modalAnimation 0.5s ease-in-out 0s 1 normal forwards;
}

.separator {
  display: block;
  height: 1px;
  width: 100%;
  margin: 2rem 0;
  background-color: #dedede;
}

#card-image {
  height: 100%;
  background-color: #0165b1;
}

#image {
  height: 100%;
  object-fit: cover;
  border-radius: 25px 0 0 25px;
  object-fit: center;
}

.card-info {
  max-width: 70%;
  padding: 1rem 2rem;
}

.card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modalTitle {
  font-size: 30px;
  line-height: 37.8px;
  color: #0165b1;
  font-weight: 700;
}

#modalDepartmentName {
  font-size: 20px;
  line-height: 24px;
  color: #7c7c7c;
  font-weight: 300;
}

#modalBody {
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
  color: #7c7c7c;
}

.contact {
  display: flex;
  justify-content: space-between;
  color: #7c7c7c;

  font-size: 13px;
  font-weight: 500;
  line-height: 16.38px;
}

.icone-telefone {
  width: 12px;
}

.close {
  color: #7c7c7c;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.close:hover {
  color: #7c7c7c8a;
}

@keyframes modalAnimation {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
